@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.disappear {
    animation: disappear 0.5s forwards;
}

.appear {
    animation: appear 0.5s forwards 0.5s; 
}

.slide-out {
    animation: slideOut 0.5s forwards 0.5s; 
}

.slide-in {
    animation: slideIn 0.5s forwards 0.5s; 
}
