.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor {
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2vw;
}

.canvas-properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.image-field {
    border: 1px solid black;
}

.image-properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.user-input {
    width: 20vw;
}

.file-upload {}